---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";
import Author from "../components/Author.svelte";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
    author?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage, author },
} = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      img {
        aspect-ratio: attr(width) / attr(height);
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        {heroImage && <img width={638} height={398} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <Author author={author}/>
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
